<!doctype html>
<html lang="en">
<html>
  <head>
    <script src="https://js.stripe.com/v3/"></script>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
    <title>Buy Item {{ item.id }}</title>
  </head>
  <body>
    <div class="container-fluid mx-auto my-2 my-sm-3 my-lg-4 p-3">
      <div class="container">
        {% if payment_status == 'success' %}
        <h4>Заказ товара "{{ item.name }}" оформлен успешно</h4>
        {% elif payment_status == 'cancel' %}
        <h4>Возникла ошибка при оформление заказа "{{ item.name }}"</h4>
        {% endif %}

        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>

        <button id="buy-button">Buy</button>
        <script type="text/javascript">
          const stripe = Stripe('{{ stripe_pk }}');
          var buyButton = document.getElementById('buy-button');
          buyButton.addEventListener('click', function() {
            // Create a new Checkout Session using the server-side endpoint 
            // Redirect to Stripe Session Checkout
            fetch('/buy/{{ item.id }}?quantity={{ quantity }}', {method: 'GET'})
            .then((response) => { return response.json(); })
            .then((session) => { console.log(session);
              return stripe.redirectToCheckout({ sessionId: session.session_id });} 
            )});
        </script>
     </div>
    </div>
  </body>
</html>
